@CHARSET "UTF-8";
form {
 	font-family: serif, Courier,Verdana,Arial, Verdana;
	font-size:14px;
	background-color: ##7B7C7F;
}

body{
	
}

.results-row{
 	height:70px; 
}

.aui-fieldset {
	
	margin-top:25px;
	padding-bottom:25px;
	
}
.aui-column-content {
	padding: 10px 0px 10px 0px;
 	margin-left: 100px;	 
}
.aui-button-content{
	padding: 15px 5px 15px 5px;	
}

input[type="button"], input[type="submit"], button{
	font-family: Verdana;
	font-size:16px;
}

button{
	margin-top:15px;
	margin-bottom:15px;
}

legend{
	height: 25px; 
}

#navigation li {
    display: inline;
    float: left;
}
.aui-view-lt720 #navigation li {
    display: block;
    float: none;
}